
.main-navbar{
    min-height: 12vh;
    background-color: $secondary-background;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $secondary-gray;
    margin-bottom: 2rem;
    padding-inline: 1.5rem;
}

.nav-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.logout{
    cursor: pointer;
}